<div>
  <div>
    <h1>
      Director #<%= @director.id %> details
    </h1>

    <div>
      <div>
        <%= link_to "Go back", director_path %>
      </div>

      <div>
        <%= link_to "Edit director", edit_director_path(@director) %>
      </div>

      <div>
        <%= link_to "Delete director", delete_director_path(@director) %>      
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @director.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @director.dob %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@director.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@director.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
